/*style.css*/
@charset "UTF-8";
/*
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic');
*/
*, *:after, *:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body *::selection {background-color: rgba(255,255,255,1); color: rgb(0,0,0,1);}
html {
	height: 100%;
	width: 100%;
	font-size: 62.5%; /* font-size: 1em = 10px; 1rem = 10px */
}
body {
	height: 100%;
	width: 100%;
	font-family: "Roboto", sans-serif;
	/*font-size: 10px;
	font-size: 1rem;
	font-size: 1rem;*/
	font-size: 100%;
	/*font-size: 62.5%; /* font-size: 1em = 10px; 1rem = 20px */
	line-height: normal;
	padding: 1rem 1rem 0;
}
h1, h2 {
	font-weight: 700;
	letter-spacing: 0.1rem;
	line-height: 1.2;
	text-align: center;
}
h1 {
	font-size: 2.2rem;
	padding: 0.8rem 0 0;
}
h2 {
	font-size: 1.8rem;
	/*margin: 0.8rem 0 0.5em 1rem;*/
	padding: 0.6rem 0 0;
}
p {
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
	/*margin: 0.5em 0 0 0.5em;*/
	padding: 0.4rem 0 0;
	line-height: normal;
	word-wrap: break-word;
	word-break: break-all;
	text-align: justify;
  text-indent: 1rem;
  line-height: 1.1;
}
a {
	font-size: inherit;
	text-decoration: none;
	outline-style: none;
}
a:hover {
	text-decoration: underline;
}
#inf {
	width: 100%;
	height: 100%;
	/*margin: 1rem;*/
	padding: 1rem;
	position: relative;
	display: inline-block;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.block {
  display: block;
}
.parent .block button {
  display: block;
  border: 0;
  padding: 0.8rem 1.2rem;
  transition: 0.4s;
  border-radius: 10px;
  margin: 0.6rem auto 0.6rem;
  vertical-align: middle;
	font-size: 1.6rem;
	letter-spacing: 0.1rem;
	font-weight: 600;
}
.parent .block button:hover {
  background: rgba(0,0,0,.3);
}
.parent .block button:active {
  background: rgba(0,0,0,.6);
}
.parent .block button img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  cursor: default;
  vertical-align: middle;
}

/*END*/
