@charset "UTF-8";
/****************************************************************************************************
garden.css
****************************************************************************************************/
/* img */
.garden #jpg:before {content: url(../images/material/garden1.jpg); width:0; height:0; visibility:hidden; display: none;}
.garden #jpg {background-image: url(../images/material/garden.jpg);}
.garden #jpg:hover {background-image: url(../images/material/garden1.jpg);}
.garden .inner {padding-top: 66.66666666666667%; /* высота/ширина изображения */}

/****************************************************************************************************
Медиа-запросы
****************************************************************************************************/
/****************************************************************************************************
Медиа-запросы 1024px и 768px 1200px и 900px
****************************************************************************************************/
/****************************************************************************************************
Медиа-запросы 1200px
****************************************************************************************************/
@media only screen and (max-width : 1024px) {
}
/****************************************************************************************************
Медиа-запросы 900px
****************************************************************************************************/
@media screen and (max-width : 768px) {
}
/****************************************************************************************************
END
****************************************************************************************************/
