@charset "UTF-8";
/****************************************************************************************************
pools.css
****************************************************************************************************/
/* img */
.fpools #jpg:before {content: url(../images/pools/fpools1.jpg); width:0; height:0; visibility:hidden; display: none;}
.fpools #jpg {background-image: url(../images/pools/fpools.jpg);}
.fpools #jpg:hover {background-image: url(../images/pools/fpools1.jpg);}
.fpools .inner {padding-top: calc(400 / 600 * 100%); /* высота/ширина изображения */}
/* img */
.spools #jpg:before {content: url(../images/pools/spools.jpg); width:0; height:0; visibility:hidden; display: none;}
.spools #jpg {background-image: url(../images/pools/spools1.jpg);}
.spools #jpg:hover {background-image: url(../images/pools/spools.jpg);}
.spools .inner {padding-top: calc(400 / 600 * 100%); /* высота/ширина изображения */}
/* img */
.poolsi #jpg:before {content: url(../images/super.jpg); width:0; height:0; visibility:hidden; display: none;}
.poolsi #jpg {background-image: url(../images/pools/pools.jpg);}
.poolsi #jpg:hover {background-image: url(../images/super.jpg);}
.poolsi .inner {padding-top: calc(400 / 600 * 100%); /* высота/ширина изображения */}
/****************************************************************************************************
Медиа-запросы
****************************************************************************************************/
/****************************************************************************************************
Медиа-запросы 1024px и 768px 1200px и 900px
****************************************************************************************************/
/****************************************************************************************************
Медиа-запросы 1200px
****************************************************************************************************/
@media only screen and (max-width : 1024px) {
}
/****************************************************************************************************
Медиа-запросы 900px
****************************************************************************************************/
@media screen and (max-width : 768px) {
}
/****************************************************************************************************
END
****************************************************************************************************/
