@charset "UTF-8";
/****************************************************************************************************
sfiltr.css
****************************************************************************************************/
/* img */
.sfiltr #jpg:before {content: url(../images/equip/sfiltr/hayward2.jpg); width:0; height:0; visibility:hidden; display: none;}
.sfiltr #jpg {background-image: url(../images/equip/sfiltr/hayward1.jpg);}
.sfiltr #jpg:hover {background-image: url(../images/equip/sfiltr/hayward2.jpg);}
.sfiltr .inner {padding-top: calc(400 / 600 * 100%); /* высота/ширина изображения */}
/* img */
.sfiltr1 #jpg:before {content: url(../images/equip/sfiltr/hayward6.jpg); width:0; height:0; visibility:hidden; display: none;}
.sfiltr1 #jpg {background-image: url(../images/equip/sfiltr/hayward7.jpg);}
.sfiltr1 #jpg:hover {background-image: url(../images/equip/sfiltr/hayward6.jpg);}
.sfiltr1 .inner {padding-top: calc(400 / 600 * 100%); /* высота/ширина изображения */}
/****************************************************************************************************
Медиа-запросы
****************************************************************************************************/
/****************************************************************************************************
Медиа-запросы 1024px и 768px 1200px и 900px
****************************************************************************************************/
/****************************************************************************************************
Медиа-запросы 1200px
****************************************************************************************************/
@media only screen and (max-width : 1024px) {
}
/****************************************************************************************************
Медиа-запросы 900px
****************************************************************************************************/
@media screen and (max-width : 768px) {
}
/****************************************************************************************************
END
****************************************************************************************************/
