@charset "UTF-8";
/****************************************************************************************************
terraced.css
****************************************************************************************************/
/* img */
.terraced #jpg:before {content: url(../images/material/terraced1.jpg); width:0; height:0; visibility:hidden; display: none;}
.terraced #jpg {background-image: url(../images/material/terraced.jpg);}
.terraced #jpg:hover {background-image: url(../images/material/terraced1.jpg);}
.terraced .inner {padding-top: calc(400 / 600 * 100%); /* высота/ширина изображения */}
/****************************************************************************************************
Медиа-запросы
****************************************************************************************************/
/****************************************************************************************************
Медиа-запросы 1024px и 768px 1200px и 900px
****************************************************************************************************/
/****************************************************************************************************
Медиа-запросы 1200px
****************************************************************************************************/
@media only screen and (max-width : 1024px) {
}
/****************************************************************************************************
Медиа-запросы 900px
****************************************************************************************************/
@media screen and (max-width : 768px) {
}
/****************************************************************************************************
END
****************************************************************************************************/
